################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AppInsightsMVCFilters/AppInsightsMVCFilters/bin/Release
/AppInsightsMVCFilters/AppInsightsMVCFilters/obj/Release
/AppInsightsMVCFilters/packages
*.suo
